@{
    ViewData["Title"] = "TestPage";
}

<h2>TestPage</h2>

<h2>    Azure Redis </h2>
<Ul>
    <Li>
        Value read from cache is:
    </Li>
    @ViewData [ "CacheTime"]
</Ul>
<b />
<Ul>
    <Li>
        Current value is:
    </Li>
    @ViewData [ "CurrentTime"]
</Ul>